.viewport {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -ms-perspective: 800px;
    perspective: 800px;

    -webkit-perspective-origin: 50% 320px;
    -moz-perspective-origin: 50% 320px;
    -ms-perspective-origin: 50% 320px;
    perspective-origin: 50% 320px;

    -webkit-transform: scale(0.75, 0.75);
    -moz-transform: scale(0.75, 0.75);
    -ms-transform: scale(0.75, 0.75);
    -o-transform: scale(0.75, 0.75);
    transform: scale(0.75, 0.75);
}

.slice {
    position: relative;
    width: 450px;
    margin: auto;

    -webkit-transition: transform ease;
    -moz-transition: transform ease;
    -ms-transition: transform ease;
    -o-transition: transform ease;
    transition: transform ease;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.line {
    display: inline-block;
    margin: 0 20px 0 0;
}

.cube {
    position: relative;
    margin: 0 0 20px;
    height: 200px;
    width: 200px;
}

.cube > div {
    position: absolute;
    height: 160px;
    width: 160px;
    padding: 20px;
    background-color: rgba(50, 50, 50, 0.5);
    font-size: 1em;
    line-height: 1em;
    color: #fff;
    border: 1px solid #555;
    border-radius: 3px;
    text-align: center;
}

.cube > div:hover {
    background-color: rgba(50, 50, 50, 0.9);
}

.cube .front  {
    -webkit-transform: translateZ(100px);
    -moz-transform: translateZ(100px);
    -ms-transform: translateZ(100px);
    -o-transform: translateZ(100px);
    transform: translateZ(100px);
}
.cube .back   {
    -webkit-transform: translateZ(-100px) rotateY(180deg);
    -moz-transform: translateZ(-100px) rotateY(180deg);
    -ms-transform: translateZ(-100px) rotateY(180deg);
    -o-transform: translateZ(-100px) rotateY(180deg);
    transform: translateZ(-100px) rotateY(180deg);
}
.cube .right {
    -webkit-transform: rotateY(90deg) translateZ(100px);
    -moz-transform: rotateY(90deg) translateZ(100px);
    -ms-transform: rotateY(90deg) translateZ(100px);
    -o-transform: rotateY(90deg) translateZ(100px);
    transform: rotateY(90deg) translateZ(100px);
}
.cube .left {
    -webkit-transform: rotateY(-90deg) translateZ(100px);
    -moz-transform: rotateY(-90deg) translateZ(100px);
    -ms-transform: rotateY(-90deg) translateZ(100px);
    -o-transform: rotateY(-90deg) translateZ(100px);
    transform: rotateY(-90deg) translateZ(100px);
}
.cube .top {
    -webkit-transform: rotateX(90deg) translateZ(100px);
    -moz-transform: rotateX(90deg) translateZ(100px);
    -ms-transform: rotateX(90deg) translateZ(100px);
    -o-transform: rotateX(90deg) translateZ(100px);
    transform: rotateX(90deg) translateZ(100px);
}
.cube .bottom {
    -webkit-transform: rotateX(-90deg) translateZ(100px);
    -moz-transform: rotateX(-90deg) translateZ(100px);
    -ms-transform: rotateX(-90deg) translateZ(100px);
    -o-transform: rotateX(-90deg) translateZ(100px);
    transform: rotateX(-90deg) translateZ(100px);
}
.cube .infoBox {
    position: relative;
}